* {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro, arial;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #231F20;
  color: white;
}

.grafika {
  width: 100%;
  display: block;
}

nav {
  background-color: #008736;
}

nav ul {
  font-size: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 33.33%;
  padding: 15px 50px;
}

a.menu {
  display: block;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}


a.menu:hover {
  font-size: 35px;
  border-bottom: 2px solid white;

}

a.active {
  font-size: 35px;
  border-bottom: 2px solid white;
}

a.mail {
  color: #008736;
}

a.project {
  color: white;
}

section {
  margin-top: 30px;
  margin-bottom: 20px;
}

section h1 {
  font-size: 60px;
  text-align: center;
  margin: 0 10% 20px 10%;
  padding-bottom: 8px;
  border-bottom: 5px solid #008736;
}

section p {
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  padding: 20px 0;
}

.project {
  position: relative;
}

.project:hover:after {
  line-height: 0;
  position: absolute;
  right: -420px;
  bottom: -20px;
  display: block;
  z-index: 2;
  border: 4px solid #00B636;
}



footer {
  height: 40px;
  background-color: #008736;
  color: white;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width:660px) {
  nav ul li {
    width: 100%;
    font-size: 35px;
  }
}

@media(min-width: 1075px) {
  .a1:hover:after {
  content: url('img/Arkusz01.jpg');
}

.a2:hover:after {
  content: url('img/Arkusz02.jpg');
}

.a3:hover:after {
  content: url('img/Arkusz03.jpg');
}

.a4:hover:after {
  content: url('img/Arkusz04.jpg');
}

.a5:hover:after {
  content: url('img/Arkusz05.jpg');
}

.a6:hover:after {
  content: url('img/Arkusz06.jpg');
}

.a7:hover:after {
  content: url('img/Arkusz07.jpg');
}

.a8:hover:after {
  content: url('img/Arkusz08.jpg');
}

.a9:hover:after {
  content: url('img/Arkusz09.jpg');
}

.a10:hover:after {
  content: url('img/Arkusz10.jpg');
}

.a11:hover:after {
  content: url('img/Arkusz11.jpg');
}

.a12:hover:after {
  content: url('img/Arkusz12.jpg');
}

.a13:hover:after {
  content: url('img/Arkusz13.jpg');
}

.a14:hover:after {
  content: url('img/Arkusz14.jpg');
}

.a15:hover:after {
  content: url('img/Arkusz15.jpg');
}

.a16:hover:after {
  content: url('img/Arkusz16.jpg');
}

.a17:hover:after {
  content: url('img/Arkusz17.jpg');
}

.a18:hover:after {
  content: url('img/Arkusz18.jpg');
}

.a19:hover:after {
  content: url('img/Arkusz19.jpg');
}
}
