body{
	margin: 0px;
}

.baner {
	background-color: rgb(255,213,162);
	text-align: center;
	padding: 20px;
}

.menu {
	background-color: rgb(191,112,17);
	text-align: center;
	font-size: 150%;
	width: 25%;
	float: left;
}

.main {
	height: 400px;
	clear: both;
}

.footer{
	background-color: rgb(191,112,17);
	color: white;
	text-align: right;
	font-size: 150%;
}

a {
	color: white;
}

button {
	background-color: brown;
	border: 2px solid brown;
	color: white;
	font-weight: bold;
	padding: 10px;
}