@keyframes aside1 {
from {left:-500px;}
to {left:0px;}
}
body{
margin: auto;
width: 1000px;
color: red;
background: gray;
font: 20px Arial;
}
header {
background: black;
}
main {
background: linear-gradient(90deg, black, white, black);
}
nav, main {
float: left;
min-height: 300px;
padding: 25px;
}
nav {
width: 200px;
}
main {
width: 700px;
text-align: center;
}
aside, footer{
text-align: right;
}
aside span {
position: relative;
animation: aside1 5s alternate infinite;
}
footer {
clear: left;
}
a {
color: red;
}