@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
	font-family: EB Garamond, Arial;
}
header {
	background: #3CB371;
	color: white;
	padding: 10px;
	font-size: 130%;
	text-align: center;
}
#l {
	background: #FAEBD7;
	width: 55%;
	height: 450px;
	float: left;
}
img {
	padding: 3px;
	margin: 15px;
	border-width: 2px;
	border-style: dashed;
	border-color: #3CB371;
}
#p {
	background: #FAEBD7;
	text-align: left;
	width: 45%;
	height: 450px;
	float: left;
}
footer {
	background: #3CB371;
	color: white;
	padding: 10px;
	font-size: 130%;
	text-align: center;
}