* {
	font-family: Garamond;
	margin: 0;

}
.lewy{
	float: left;
	width: 25%;
}
.prawy{
	float: left;
	width: 75%;
}
.lg{
	height: 500px;
	background-color: Lavender;
}
.ld{
	height: 300px;
	background-color: Lavender;
}
.pg{
	height: 150px;
	background-color: Indigo;
	color: white;
	font-size: 200%;
	text-align: center;
}
.pd{
	height: 650px;
	background-color: Lavender;
	font-size: 200%;
	text-align: center;
}
.ft{
	background-color: Indigo;
	color: white;
	text-align: right;
	clear: both;
}
ul {
	list-style-type: square:
}
img {
	padding: 5px;
	margin: 10px;
}
img:hover{
	padding: 4px;
	border: solid 1px Indigo;
}