body {
	font-family: Georgia;
	margin: 0;
}
.gl, .gp {
	background-color: rgb(197,85,160);
	text-align: center;
	width: 50%;
	height: 180px;
	float: left;
}
.baner, .ft {
	background-color: rgb(246,226,222);
	text-align: center;
	height: 100px;
	padding: 10px;
	overflow: auto;
}
.dl, .dp {
	background-color: rgb(197,85,160);
	color: white;
	width: 50%;
	height: 400px;
	float: left;
}
table, tr, td {
	border:2px solid blue;
	margin: 20px;
	padding: 10px;
}
h2 {
	letter-spacing: 10px;
	font-size: 200%;
}
.link{
	background-image:url("cukierki1.png");
	background-size:auto;
	padding-right:70px;
	padding-bottom:120px;
	font-size:150%;
	text-decoration:none;
}